@media only screen and (max-width: 1124px) {
    .box {
        height: 30px;
        width: 30px;
        border-radius: 6px;
        font-size: 15px;
    }
}

@media only screen and (max-width:459px) {
    .heading-row-div {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .box {
        height: 70px;
        width: 70px;
        border-radius: 6px;
        font-size: 23px;
    }

    .p-20 {
        padding: 22px;
    }

    .f-22 {
        margin-bottom: -30px !important;
    }

    .calendar {
        min-width: 100px !important;
    }
}